<nav class="navbar navbar-expand-lg " id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" ><img  src="assets/logo.png" id="logo" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-between w-75" id="navbar">
        <a class="nav-link active" aria-current="page" (click)="changeBloc(0)"><i class="bi bi-list-check"></i> Liste contact</a>
        <a class="nav-link" (click)="changeBloc(1)" ><i class="bi bi-cloud-plus-fill"></i> Ajout Contact</a>
        <a class="nav-link"(click)="changeBloc(2)" ><i class="bi bi-trash3-fill"></i> Corbeille</a>
        <a class="nav-link" (click)="deconnexion()"><i class="bi bi-box-arrow-left" ></i> Déconnexion</a>
      </div>
    </div>
  </div>
</nav>


<div class="container mt-5">
  <!-- <div class="d-flex justify-content-between mb-3" id="deleteIcon">

    <a  class="btn btn-secondary "  (click)="changeBloc(1)" >Ajouter</a>
    <a  class="btn btn-secondary " (click)="changeBloc(0)" >Lister</a>
    <i class="bi bi-trash3-fill"   (click)="changeBloc(2)" ></i>
  </div> -->


  <!-- la liste des contacts -->
 <div class="list-contact" *ngIf="blocChoice==0">

  <div class="card mt-2" id="card" *ngFor="let contact of contactsByUser">
    <h5 class="card-header">{{contact.prenom}} {{contact.nom}}</h5>
    <div class="card-body d-flex">

      <div class="" style="width: 15%;">
        <img src="{{contact.image}}" alt="">
      </div>
      <div class="" style="width: 85%;">

        <h5 class="card-title"><i class="bi bi-telephone-fill"></i> {{contact.telephone}}, <i class="bi bi-envelope"></i> {{contact.email}}</h5>
        <p class="card-text">{{contact.description}}</p>
        <div>

          <a  class="btn " (click)="Modification(contact.id)">Modifier</a>
          <a  class="btn  mx-2" (click)="suppression(contact.id)">Supprimer</a>
          <span class="badge ">Create by : {{contact.createBy}}</span>
          <span class="badge  mx-2">Create at : {{contact.createAt}}</span>
        </div>
      </div>
    </div>
  </div>

 </div>

  <!-- Formulaire d'ajout de contact -->

  <div class="w-50 m-auto mt-5 formualire" *ngIf="blocChoice==1">

    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" class="form-control" id="nom" [(ngModel)]="nom" >
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">Prenom</label>
      <input type="text" class="form-control" id="prenom"  [(ngModel)]="prenom" >
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image(URL)</label>
      <input type="text" class="form-control" id="image"  [(ngModel)]="image" >
    </div>
    <div class="mb-3">
      <label for="Numero" class="form-label">Numero</label>
      <input type="text" class="form-control" id="numero"  [(ngModel)]="telephone">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com"  [(ngModel)]="email">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" rows="3"  [(ngModel)]="description"></textarea>
    </div>

    <div class="text-center" >
      <button class="btn btn-secondary w-50" (click)="verifierAjout()">Ajouter</button>
    </div>


  </div>
  <!-- Formulaire d'ajout de contact -->

  <div class="w-50 m-auto mt-5 formualire" *ngIf="blocChoice==3">

    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" class="form-control" id="nom" [(ngModel)]="nom" >
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">Prenom</label>
      <input type="text" class="form-control" id="prenom"  [(ngModel)]="prenom" >
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image(URL)</label>
      <input type="text" class="form-control" id="image"  [(ngModel)]="image" >
    </div>
    <div class="mb-3">
      <label for="Numero" class="form-label">Numero</label>
      <input type="text" class="form-control" id="numero"  [(ngModel)]="telephone">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com"  [(ngModel)]="email">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" rows="3"  [(ngModel)]="description"></textarea>
    </div>

    <div class="text-center" >
      <button class="btn btn-secondary w-50" (click)="ConfirmModifiaction()">Modifier</button>
    </div>


  </div>

  <div *ngIf="blocChoice==2">
    je suis la corbeille
    <div class="card mt-2" id="card" *ngFor="let contact of deletedContactsByUser">
      <h5 class="card-header">{{contact.prenom}} {{contact.nom}}</h5>
      <div class="card-body d-flex">

        <div class="" style="width: 15%;">
          <img src="{{contact.image}}" alt="">
        </div>
        <div class="" style="width: 85%;">

          <h5 class="card-title"><i class="bi bi-telephone-fill"></i> {{contact.telephone}}, <i class="bi bi-envelope"></i> {{contact.email}}</h5>
          <p class="card-text">{{contact.description}}</p>
          <div>
            <a  class="btn mx-2" (click)="restaurer(contact.id)">Restaurer</a>
            <!-- <a  class="btn ">Modifier</a> -->
            <!-- <a  class="btn  mx-2" (click)="suppression(contact.id)">Supprimer</a> -->
            <span class="badge ">Create by : {{contact.createBy}}</span>
            <span class="badge  mx-2">Create at : {{contact.createAt}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


