<!-- <p>user works!</p>
<p>page de connexion</p> -->
<div class="container mt-5">
  <div class="alert  text-center" role="alert" id="alert" *ngIf="isForm">
   Formulaire de connexion
  </div>
  <div class="alert  text-center" role="alert" id="alert" *ngIf="!isForm">
   Formulaire d'inscription
  </div>
  <!-- fomulaire de connexion -->
  <div class="w-50 m-auto mt-5 formualire" *ngIf="isForm">

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="email">
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Mot de passe</label>
      <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
      <input type="email" class="form-control" id="pass" placeholder="************" [(ngModel)]="pass">
    </div>
    <div class="text-center">
      <button class="btn btn-secondary w-50" (click)="verifierLogin()">Se connecter</button>
    </div>
    <div class="mt-3">

      <a class=" text-decoration-none register" (click)="switchForm()">Si vous n'avez pas de compte, Creez en un</a>
    </div>
  </div>

  <!-- fomulaire de d'inscription -->

  <div class="w-50 m-auto mt-5 formualire" *ngIf="!isForm">

    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" class="form-control" id="nom"  [(ngModel)]="nom">
    </div>
    <div class="mb-3">
      <label for="prenom" class="form-label">Prenom</label>
      <input type="text" class="form-control" id="prenom"  [(ngModel)]="prenom">
    </div>
    <div class="mb-3">
      <label for="Numero" class="form-label">Numero</label>
      <input type="text" class="form-control" id="numero"  [(ngModel)]="numero">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="email">
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Mot de passe</label>
      <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
      <input type="email" class="form-control" id="pass" placeholder="************" [(ngModel)]="pass">
    </div>
    <div class="text-center">
      <button class="btn btn-secondary w-50" (click)="verifierRegister()">S'incrire</button>
    </div>

  </div>
</div>
